NiFi_Flow.json
{"flowContents":{"identifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","instanceIdentifier":"e97636de-0196-1000-2d5e-501a39b9a291","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"03c45e9b-0197-1000-bf7a-3dfab088155c","instanceIdentifier":"d078469b-92ea-38f5-5ca7-77e1d97db3d7","name":"UpdateAttribute","comments":"","position":{"x":5800.0,"y":-840.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${type}_${now():format(\"yyyyMMdd_HHmmss\")}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e9a-0197-1000-b035-3a9d75fb3483","instanceIdentifier":"1ac28d33-5977-3b8d-4ab6-bee39aa66a6b","name":"SplitJson","comments":"","position":{"x":4184.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"200 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e9c-0197-1000-0f54-6387ebd34279","instanceIdentifier":"a1ea7dce-c0b0-3e38-05e0-d8025fae00c3","name":"JoltTransformJSON (Shot)","comments":"","position":{"x":4712.0,"y":-464.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"index\": \"index\",\n      \"match_id\": \"match_id\",\n      \"team_id\": \"team_id\",\n      \"team\": \"team\",\n      \"competition\": \"competition\",\n      \"season\": \"season\",\n      \"player_id\": \"player_id\",\n      \"player\": \"player\",\n      \"position\": \"position\",\n      \"possession\": \"possession\",\n      \"location\": \"location\",\n      \"period\": \"period\",\n      \"minute\": \"minute\",\n      \"second\": \"second\",\n      \"duration\": \"duration\",\n      \"play_pattern\": \"play_pattern\",\n      \"shot_body_part\": \"shot_body_part\",\n      \"shot_technique\": \"shot_technique\",\n      \"shot_type\": \"shot_type\",\n      \"shot_key_pass_id\": \"shot_key_pass_id\",\n      \"shot_freeze_frame\": \"shot_freeze_frame\",\n      \"shot_aerial_won\": \"shot_aerial_won\",\n      \"shot_first_time\": \"shot_first_time\",\n      \"shot_one_on_one\": \"shot_one_on_one\",\n      \"under_pressure\": \"under_pressure\",\n      \"shot_redirect\": \"shot_redirect\",\n      \"shot_deflected\": \"shot_deflected\",\n      \"shot_statsbomb_xg\": \"shot_statsbomb_xg\",\n      \"shot_end_location\": \"shot_end_location\",\n      \"shot_outcome\": \"shot_outcome\",\n      \"out\": \"out\"\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"index\": \"=toInteger\",\n      \"match_id\": \"=toInteger\",\n      \"player_id\": \"=toInteger\",\n      \"team_id\": \"=toInteger\",\n      \"possession\": \"=toInteger\",\n      \"period\": \"=toInteger\",\n      \"minute\": \"=toInteger\",\n      \"second\": \"=toInteger\",\n      \"duration\": \"=toDouble\",\n      \"shot_key_pass_id\": [\"=toString\", false],\n      \"shot_freeze_frame\": [\"=toString\", false],\n      \"shot_aerial_won\": [\"=toBoolean\", false],\n      \"shot_first_time\": [\"=toBoolean\", false],\n      \"shot_one_on_one\": [\"=toBoolean\", false],\n      \"under_pressure\": [\"=toBoolean\", false],\n      \"shot_redirect\": [\"=toBoolean\", false],\n      \"shot_deflected\": [\"=toBoolean\", false],\n      \"shot_statsbomb_xg\": \"=toDouble\",\n      \"out\": [\"=toBoolean\", false]\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e99-0197-1000-b8ff-dbe7b42641be","instanceIdentifier":"c2ebcd70-0cb1-3a7f-9798-d72aeddc85f5","name":"MergeContent","comments":"","position":{"x":5264.0,"y":-832.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":"1GB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"50000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e97-0197-1000-3bad-8e573266a469","instanceIdentifier":"31f93da2-60b0-3c3c-0b1d-a078c1be2a3b","name":"JoltTransformJSON (Dribble)","comments":"","position":{"x":4712.0,"y":-1192.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"index\": \"index\",\n      \"match_id\": \"match_id\",\n      \"team_id\": \"team_id\",\n      \"team\": \"team\",\n      \"competition\": \"competition\",\n      \"season\": \"season\",\n      \"player_id\": \"player_id\",\n      \"player\": \"player\",\n      \"position\": \"position\",\n      \"possession\": \"possession\",\n      \"location\": \"location\",\n      \"period\": \"period\",\n      \"minute\": \"minute\",\n      \"second\": \"second\",\n      \"duration\": \"duration\",\n      \"play_pattern\": \"play_pattern\",\n      \"dribble_nutmeg\": \"dribble_nutmeg\",\n      \"dribble_outcome\": \"dribble_outcome\",\n      \"dribble_overrun\": \"dribble_overrun\",\n      \"under_pressure\": \"under_pressure\",\n      \"out\": \"out\"\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"index\": \"=toInteger\",\n      \"match_id\": \"=toInteger\",\n      \"player_id\": \"=toInteger\",\n      \"team_id\": \"=toInteger\",\n      \"possession\": \"=toInteger\",\n      \"period\": \"=toInteger\",\n      \"minute\": \"=toInteger\",\n      \"second\": \"=toInteger\",\n      \"duration\": \"=toDouble\",\n      \"out\": [\"=toBoolean\", false],\n      \"under_pressure\": [\"=toBoolean\", false],\n      \"dribble_nutmeg\": [\"=toBoolean\", false],\n      \"dribble_outcome\": [\"=toString\", false],\n      \"dribble_overrun\": [\"=toBoolean\", false]\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e9d-0197-1000-3d65-2f9ead4731d4","instanceIdentifier":"78dade3b-4e47-3b58-5093-859bf5a6193a","name":"EvaluateJsonPath","comments":"","position":{"x":4184.0,"y":-656.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"scalar","Null Value Representation":"empty string","type":"$.type","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e93-0197-1000-a0b7-a72a86e4d16e","instanceIdentifier":"d26723e0-f951-3bca-234a-216a29898f79","name":"ConvertRecord","comments":"","position":{"x":4184.0,"y":-1016.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"a9b77c5b-b2eb-36cf-ab94-7a099037958f","Record Reader":"4a552d26-bc29-3ea5-b2ea-61c4043d4400"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e98-0197-1000-2244-248cde071c6d","instanceIdentifier":"ae77651a-e5b1-3aa8-25a3-c3adc83f1fca","name":"JoltTransformJSON (Pass)","comments":"","position":{"x":4712.0,"y":-840.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"index\": \"index\",\n      \"match_id\": \"match_id\",\n      \"team_id\": \"team_id\",\n      \"team\": \"team\",\n      \"competition\": \"competition\",\n      \"season\": \"season\",\n      \"player_id\": \"player_id\",\n      \"player\": \"player\",\n      \"position\": \"position\",\n      \"possession\": \"possession\",\n      \"location\": \"location\",\n      \"period\": \"period\",\n      \"minute\": \"minute\",\n      \"second\": \"second\",\n      \"duration\": \"duration\",\n      \"play_pattern\": \"play_pattern\",\n      \"pass_angle\": \"pass_angle\",\n      \"pass_body_part\": \"pass_body_part\",\n      \"pass_height\": \"pass_height\",\n      \"pass_length\": \"pass_length\",\n      \"pass_type\": \"pass_type\",\n      \"pass_technique\": \"pass_technique\",\n      \"counterpress\": \"counterpress\",\n      \"pass_aerial_won\": \"pass_aerial_won\",\n      \"pass_backheel\": \"pass_backheel\",\n      \"pass_cross\": \"pass_cross\",\n      \"pass_cut_back\": \"pass_cut_back\",\n      \"pass_deflected\": \"pass_deflected\",\n      \"pass_switch\": \"pass_switch\",\n      \"under_pressure\": \"under_pressure\",\n      \"pass_miscommunication\": \"pass_miscommunication\",\n      \"pass_through_ball\": \"pass_through_ball\",\n      \"pass_inswinging\": \"pass_inswinging\",\n      \"pass_outswinging\": \"pass_outswinging\",\n      \"pass_straight\": \"pass_straight\",\n      \"pass_recipient\": \"pass_recipient\",\n      \"pass_recipient_id\": \"pass_recipient_id\",\n      \"pass_assisted_shot_id\": \"pass_assisted_shot_id\",\n      \"pass_shot_assist\": \"pass_shot_assist\",\n      \"pass_goal_assist\": \"pass_goal_assist\",\n      \"pass_end_location\": \"pass_end_location\",\n      \"pass_outcome\": \"pass_outcome\",\n      \"out\": \"out\"\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"index\": \"=toInteger\",\n      \"match_id\": \"=toInteger\",\n      \"player_id\": \"=toInteger\",\n      \"team_id\": \"=toInteger\",\n      \"possession\": \"=toInteger\",\n      \"period\": \"=toInteger\",\n      \"minute\": \"=toInteger\",\n      \"second\": \"=toInteger\",\n      \"duration\": \"=toDouble\",\n      \"pass_angle\": \"=toDouble\",\n      \"pass_length\": \"=toDouble\",\n      \"pass_type\": [\"=toString\", false],\n      \"pass_technique\": [\"=toString\", false],\n      \"pass_recipient\": [\"=toString\", false],\n      \"pass_recipient_id\": [\"=toInteger\", false],\n      \"pass_assisted_shot_id\": [\"=toString\", false],\n      \"pass_shot_assist\": [\"=toBoolean\", false],\n      \"pass_goal_assist\": [\"=toBoolean\", false],\n      \"out\": [\"=toBoolean\", false],\n      \"counterpress\": [\"=toBoolean\", false],\n      \"pass_aerial_won\": [\"=toBoolean\", false],\n      \"pass_backheel\": [\"=toBoolean\", false],\n      \"pass_cross\": [\"=toBoolean\", false],\n      \"pass_cut_back\": [\"=toBoolean\", false],\n      \"pass_deflected\": [\"=toBoolean\", false],\n      \"pass_switch\": [\"=toBoolean\", false],\n      \"under_pressure\": [\"=toBoolean\", false],\n      \"pass_miscommunication\": [\"=toBoolean\", false],\n      \"pass_through_ball\": [\"=toBoolean\", false],\n      \"pass_inswinging\": [\"=toBoolean\", false],\n      \"pass_outswinging\": [\"=toBoolean\", false],\n      \"pass_straight\": [\"=toBoolean\", false]\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e95-0197-1000-dead-9d7f8449eb0f","instanceIdentifier":"622970ef-5b8a-3736-1324-025e07feffcb","name":"PutFile","comments":"","position":{"x":5800.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"G:\\Nifi-Data-Flow\\Target","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e94-0197-1000-f913-12f5d1ce4efb","instanceIdentifier":"64f85585-61f2-3722-ffec-b3e9b347d08d","name":"RouteOnAttribute","comments":"","position":{"x":4184.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Dribble":"${type:equals('Dribble')}","Routing Strategy":"Route to Property name","Pass":"${type:equals('Pass')}","Shot":"${type:equals('Shot')}"},"propertyDescriptors":{"Dribble":{"name":"Dribble","displayName":"Dribble","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pass":{"name":"Pass","displayName":"Pass","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Shot":{"name":"Shot","displayName":"Shot","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e9f-0197-1000-8869-e50cced6eb7e","instanceIdentifier":"17a7b731-856a-32d1-16e0-9228f17abf69","name":"MergeContent","comments":"","position":{"x":5296.0,"y":-1192.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":"1GB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"50000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e96-0197-1000-e869-acc4f7901729","instanceIdentifier":"8bae541c-bd48-30cc-eb4c-eeedfb929573","name":"MergeContent","comments":"","position":{"x":5272.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":"1GB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"50000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45e9e-0197-1000-896a-c8d4bd53810f","instanceIdentifier":"f62e0b41-ddef-3e9f-8688-595bbdb157bb","name":"GetFile","comments":"","position":{"x":4184.0,"y":-1192.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"G:\\Nifi-Data-Flow\\Source","Maximum File Age":null,"Batch Size":"1","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"03c45ead-0197-1000-4cda-133936f8cad6","instanceIdentifier":"07d9a1ac-bb07-3b07-4aaa-431715aa5cd2","name":"","source":{"id":"03c45e9f-0197-1000-8869-e50cced6eb7e","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"MergeContent","comments":"","instanceIdentifier":"17a7b731-856a-32d1-16e0-9228f17abf69"},"destination":{"id":"03c45e9b-0197-1000-bf7a-3dfab088155c","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"UpdateAttribute","comments":"","instanceIdentifier":"d078469b-92ea-38f5-5ca7-77e1d97db3d7"},"labelIndex":0,"zIndex":15,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea9-0197-1000-f6a3-9c5e7eeb2b95","instanceIdentifier":"315af209-d977-37f8-78df-4908bca272ca","name":"","source":{"id":"03c45e97-0197-1000-3bad-8e573266a469","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"JoltTransformJSON (Dribble)","comments":"","instanceIdentifier":"31f93da2-60b0-3c3c-0b1d-a078c1be2a3b"},"destination":{"id":"03c45e9f-0197-1000-8869-e50cced6eb7e","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"MergeContent","comments":"","instanceIdentifier":"17a7b731-856a-32d1-16e0-9228f17abf69"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea2-0197-1000-a848-36df6d33ea1f","instanceIdentifier":"567119b1-afe5-33a9-ade1-ef805314ae81","name":"","source":{"id":"03c45e9d-0197-1000-3d65-2f9ead4731d4","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"78dade3b-4e47-3b58-5093-859bf5a6193a"},"destination":{"id":"03c45e94-0197-1000-f913-12f5d1ce4efb","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"RouteOnAttribute","comments":"","instanceIdentifier":"64f85585-61f2-3722-ffec-b3e9b347d08d"},"labelIndex":0,"zIndex":8,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45eac-0197-1000-b910-f73eb0510cb1","instanceIdentifier":"0f5d81c3-5ef9-3455-8add-ee5def5ad2ff","name":"","source":{"id":"03c45e99-0197-1000-b8ff-dbe7b42641be","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"MergeContent","comments":"","instanceIdentifier":"c2ebcd70-0cb1-3a7f-9798-d72aeddc85f5"},"destination":{"id":"03c45e9b-0197-1000-bf7a-3dfab088155c","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"UpdateAttribute","comments":"","instanceIdentifier":"d078469b-92ea-38f5-5ca7-77e1d97db3d7"},"labelIndex":0,"zIndex":14,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea7-0197-1000-445c-11390564d1d9","instanceIdentifier":"b77ad423-8211-339d-8aad-3d1fd17ad7dc","name":"","source":{"id":"03c45e94-0197-1000-f913-12f5d1ce4efb","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"RouteOnAttribute","comments":"","instanceIdentifier":"64f85585-61f2-3722-ffec-b3e9b347d08d"},"destination":{"id":"03c45e97-0197-1000-3bad-8e573266a469","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"JoltTransformJSON (Dribble)","comments":"","instanceIdentifier":"31f93da2-60b0-3c3c-0b1d-a078c1be2a3b"},"labelIndex":0,"zIndex":6,"selectedRelationships":["Dribble"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea3-0197-1000-bee1-4d6dc6531ab6","instanceIdentifier":"a2c1bd96-37a0-33ad-2c01-71e6f2f39fad","name":"","source":{"id":"03c45e9e-0197-1000-896a-c8d4bd53810f","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"GetFile","comments":"","instanceIdentifier":"f62e0b41-ddef-3e9f-8688-595bbdb157bb"},"destination":{"id":"03c45e93-0197-1000-a0b7-a72a86e4d16e","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"ConvertRecord","comments":"","instanceIdentifier":"d26723e0-f951-3bca-234a-216a29898f79"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45eab-0197-1000-b296-9ba1c2ecf60d","instanceIdentifier":"cf50f681-3a2a-3457-f861-bcf56d0b6428","name":"","source":{"id":"03c45e98-0197-1000-2244-248cde071c6d","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"JoltTransformJSON (Pass)","comments":"","instanceIdentifier":"ae77651a-e5b1-3aa8-25a3-c3adc83f1fca"},"destination":{"id":"03c45e99-0197-1000-b8ff-dbe7b42641be","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"MergeContent","comments":"","instanceIdentifier":"c2ebcd70-0cb1-3a7f-9798-d72aeddc85f5"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea1-0197-1000-f254-22bd1b90e6fb","instanceIdentifier":"53239502-24d5-300c-87ba-d15c50f12df1","name":"","source":{"id":"03c45e96-0197-1000-e869-acc4f7901729","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"MergeContent","comments":"","instanceIdentifier":"8bae541c-bd48-30cc-eb4c-eeedfb929573"},"destination":{"id":"03c45e9b-0197-1000-bf7a-3dfab088155c","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"UpdateAttribute","comments":"","instanceIdentifier":"d078469b-92ea-38f5-5ca7-77e1d97db3d7"},"labelIndex":0,"zIndex":13,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45eaa-0197-1000-3949-9a876dee75b9","instanceIdentifier":"809ad2fc-38ab-3513-e81f-ad3ea6a61f75","name":"","source":{"id":"03c45e9a-0197-1000-b035-3a9d75fb3483","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"SplitJson","comments":"","instanceIdentifier":"1ac28d33-5977-3b8d-4ab6-bee39aa66a6b"},"destination":{"id":"03c45e9d-0197-1000-3d65-2f9ead4731d4","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"78dade3b-4e47-3b58-5093-859bf5a6193a"},"labelIndex":0,"zIndex":9,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea5-0197-1000-a7ef-ba7253e6e03e","instanceIdentifier":"98b9c64c-7a80-325a-dc25-dd714a459525","name":"","source":{"id":"03c45e94-0197-1000-f913-12f5d1ce4efb","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"RouteOnAttribute","comments":"","instanceIdentifier":"64f85585-61f2-3722-ffec-b3e9b347d08d"},"destination":{"id":"03c45e98-0197-1000-2244-248cde071c6d","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"JoltTransformJSON (Pass)","comments":"","instanceIdentifier":"ae77651a-e5b1-3aa8-25a3-c3adc83f1fca"},"labelIndex":0,"zIndex":5,"selectedRelationships":["Pass"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea8-0197-1000-6c8a-0653c7920b7b","instanceIdentifier":"172c9207-176e-3f6b-b972-ee50a807111f","name":"","source":{"id":"03c45e94-0197-1000-f913-12f5d1ce4efb","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"RouteOnAttribute","comments":"","instanceIdentifier":"64f85585-61f2-3722-ffec-b3e9b347d08d"},"destination":{"id":"03c45e9c-0197-1000-0f54-6387ebd34279","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"JoltTransformJSON (Shot)","comments":"","instanceIdentifier":"a1ea7dce-c0b0-3e38-05e0-d8025fae00c3"},"labelIndex":0,"zIndex":4,"selectedRelationships":["Shot"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea4-0197-1000-7bad-06afb247b66d","instanceIdentifier":"c1b615d2-aafe-3aa6-9a42-fa4835b62e93","name":"","source":{"id":"03c45e93-0197-1000-a0b7-a72a86e4d16e","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"ConvertRecord","comments":"","instanceIdentifier":"d26723e0-f951-3bca-234a-216a29898f79"},"destination":{"id":"03c45e9a-0197-1000-b035-3a9d75fb3483","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"SplitJson","comments":"","instanceIdentifier":"1ac28d33-5977-3b8d-4ab6-bee39aa66a6b"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"2 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea0-0197-1000-7c17-2d8d9598668b","instanceIdentifier":"3d9ca128-62de-363b-7db4-7e8795ee012c","name":"","source":{"id":"03c45e9c-0197-1000-0f54-6387ebd34279","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"JoltTransformJSON (Shot)","comments":"","instanceIdentifier":"a1ea7dce-c0b0-3e38-05e0-d8025fae00c3"},"destination":{"id":"03c45e96-0197-1000-e869-acc4f7901729","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"MergeContent","comments":"","instanceIdentifier":"8bae541c-bd48-30cc-eb4c-eeedfb929573"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"03c45ea6-0197-1000-b8db-6496d68321da","instanceIdentifier":"7df993a7-6b54-36d6-6410-e6e69b988d0c","name":"","source":{"id":"03c45e9b-0197-1000-bf7a-3dfab088155c","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"UpdateAttribute","comments":"","instanceIdentifier":"d078469b-92ea-38f5-5ca7-77e1d97db3d7"},"destination":{"id":"03c45e95-0197-1000-dead-9d7f8449eb0f","type":"PROCESSOR","groupId":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9","name":"PutFile","comments":"","instanceIdentifier":"622970ef-5b8a-3736-1324-025e07feffcb"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"a9b77c5b-b2eb-36cf-ab94-7a099037958f","instanceIdentifier":"fda1b6e3-0196-1000-e918-b8904f5739b9","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"4a552d26-bc29-3ea5-b2ea-61c4043d4400","instanceIdentifier":"fd9e73ae-0196-1000-632b-580e87b190ee","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":";","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"71397234-1398-31eb-9306-15df02a6e084","instanceIdentifier":"ff911625-0196-1000-2a1e-fefab0ddb24c","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"},{"identifier":"b6f56ac7-80ca-328d-9a03-ec2931e3ed72","instanceIdentifier":"ff908b3e-0196-1000-73bb-36102b2faf97","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2910879c-0ea1-3f25-ae7d-ef3e5ed0aea9"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}